body{
    background: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

nav{ grid-area: nav;}
main{ grid-area: main;}
footer{ grid-area: footer;}


/*nav*/

#navbar{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
}

#navbar header{
    line-height:50px;
	font-size:25px;
    padding: 0;
}
#navbar-header{
    text-decoration: none;
    color:#1C5E63;
    font-family: 'Montserrat Alternates', sans-serif
}
#navbar-header:hover,
#navbar-heade:focus{
     color:#ff5a36;
}

#navbar-nav{
    border: 2px solid #148F77;
    list-style-type:none;
    width: 100%;
    padding: 0;
    margin:0;
}


#navbar-nav li{
    border-bottom: 2px solid #148F77;
}

.nav-link{

    text-decoration: none;
    margin:0 5px;
    padding-right: 30px;
    font-size: 1.3em;
    display: block;
    color: #032E45;
	cursor:pointer;
}

/*end nav*/

#welcome-section{
    /*background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("https://raw.githubusercontent.com/joequich/personal-portfolio/master/img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;*/
    background: linear-gradient(#1B5F5F, #1C5E63);
    /*background: #1B5F5F;*/
    height: 50vh;
    padding-top: 50vh;
    text-align: center;
    color: white;
}

#projects{
    height: 100%;
    padding-top: 10vh;
    background: #F8F9F9;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:  space-around;
    text-align: center;
}

.project-tile{
    border: 1px solid #148F77;
    width: 100%;
    height: 270px;
    margin-bottom: 30px;
}


.img-thumbnail a{
    text-decoration: none;
}

.image{
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.img-thumbnail p{
    border-bottom: 2px solid #148F77;
    text-decoration: none;
    color: #148F77;
    font-weight: bold;
    padding-bottom: 10px;
}

#contacts{
    background: linear-gradient(#FBE724, #DCA630);
    height: 60vh;
    padding-top: 40vh;
    text-align: center;
    color: #4B1549;
}

#icons-cont{
    display: flex;
    flex-wrap: wrap;
}

#profile-link{
    width: 100%;
    margin-bottom: 50px;
}


#footer-cont{
    background: #4B1549;
    color: white;
}

#footer-cont p{
    text-align: center;
}

/*medi querys*/

@media (min-width: 1200px) and (max-width: 1600px){
    #navbar{
        flex-direction: row;
        flex-wrap: column wrap;
        text-align: left;
    }

    #navbar header{
    	width:40%;
        padding-left:40px;
    }

    #navbar-nav{
        width:60%;
        display: flex;
        justify-content:  flex-end;
        border: none;
        line-height:50px;
    }

    #navbar-nav li{
        border-bottom: none;
    }

    .project-tile{
        margin-bottom: 50px;
        width: 30.3%;
    }

    #profile-link{
        width: 50%;
    }
}

@media (min-width: 768px)and (max-width: 1200px) {
    #navbar{
        flex-direction: row;
        flex-wrap: column wrap;
        text-align: left;
    }

    #navbar header{
    	width:40%;
        padding-left:40px;
    }

    #navbar-nav{
        width:60%;
        display: flex;
        justify-content:  flex-end;
        border: none;
        line-height:50px;
    }

    #navbar-nav li{
        border-bottom: none;
    }
    .project-tile{
        margin-bottom: 50px;
        width: 47%;
    }

    .image{
        width: 350px;
        height: 200px;
        border-radius: 5px;
    }

    #profile-link{
        width: 50%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .project-tile{
        margin-bottom: 50px;
        width: 80%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .project-tile{
        margin-bottom: 50px;
        width: 90%;
    }

    .image{
        width: 250px;
        height: 200px;
        border-radius: 5px;
    }
}
